#first-row {
    margin-top: 0px;
}
#first-row-col12 {
    padding-left: 0px;
    padding-right: 0px;
}
img.responsive {
    width: 100%;
    height: auto;
    max-height: 480px;
}
#input-search-recipe {
    width: 235px;
}
.well {
    margin-bottom: 19px;
}
#second-row {
    margin-top: 30px;
}
#second-row .col-md-3 {
    text-align: center;
}
#second-row button {
    width: 150px;
    margin-top: 10px;
}
.ads {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05)
}
#footer-row {
    margin-top: 15px;
}
#footer-col {
    padding-left: 0px;
    padding-right: 0px;
}

#infoi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 25%;
  left: 36%;
  right: 36%;
  z-index: 10;
}
#infoi h1{
    font-size: 60px;
    color: white;
}
