<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>食譜 | 全植食尚 Vegeholic</title>

    <!-- Bootstrap core CSS -->
    <link href="lib/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/recipe.css">
</head>

<body>
    <div class="loading-icon"></div>

    <!-- 導覽列 -->
    <nav class="navbar navbar-fixed-top" id="navbar-wrap">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="index.html">
                    <img src="img/leaf.svg" id="logo-leaf" alt="">
                    <span id="logo-text">{{ system_name }}</span>
                </a>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav" v-for="button in buttons">
                    <li><a href="{{ button.links }}">{{ button.title }}</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#login.html">登入</a></li>
                    <li><a href="#register.html">註冊</a></li>
                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <!-- 頁面內容 Wrapper -->
    <div class="container">

        <div class="row" id="first-row">

            <!-- Recipe Main -->
            <div class="col-md-8">

                <div class="panel panel-default" id="recipe-panel">

                    <div class="panel-heading">
                        <h3 class="panel-title">{{ info.name }}</h3>
                    </div>

                    <div class="panel-body">

                        <div class="row">

                            <!-- Recipe Main Image -->
                            <div class="col-md-7">
                                <img src="{{ info.img_link }}" class="recipe-img" alt="">
                            </div>

                            <div class="col-md-5">

                                <!-- 作者資訊 -->
                                <div class="panel panel-default panel-author">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <img class="avatar" src="{{ info.author.avatar }}" alt="avatar" />
                                            </div>
                                            <div class="col-sm-10">
                                                <p class="author-info">
                                                    {{ info.author.name }}
                                                    <br/> {{ info.author.recipe_count }} 食譜 | {{ info.author.fan_count }} 黨員
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- List group -->
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                            <span class="view-count count">{{ info.stat.view }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="glyphicon glyphicon-heart"></span>
                                            <span class="like-count count">{{ info.stat.like }}</span>
                                            <button class="btn btn-danger btn-xs pull-right"><span class="glyphicon glyphicon-heart"></button>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="glyphicon glyphicon-comment"></span>
                                            <span class="reply-count count">{{ info.stat.reply }}</span>
                                            <button class="btn btn-primary btn-xs pull-right"><span class="glyphicon glyphicon-comment"></button>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                            <span class="recipe-date count">{{ info.stat.date }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <p class="recipe-desc">
                            {{ text }}
                        </p>

                        <!-- 食材 -->
                        <div class="row" id="ingredient">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">食材列表</div>
                                    <ul class="list-group" v-for="ingredient in ingredients">
                                        <li class="list-group-item">
                                            {{{ ingredient.item }}}
                                            <span class="badge pull-right">{{ ingredient.amount }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <ul class="list-group">
                        <li class="list-group-item recipe-step" v-for="step in steps">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{{ step.img }}" class="recipe-img" alt="">
                                </div>
                                <div class="col-md-8">
                                    <div class="page-header">步驟 {{ step.order }}</div>
                                    <p class="step-text">{{ step.text }}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-md-4">
                <div class="well ads"></div>
                <div class="well ads"></div>
                <div class="well ads"></div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <div class="row" id="footer-row">
        <div class="col-md-12 well">
            &copy; 2016 - 2017 全植食尚 GmbH All rights Reserved.
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="lib/js/jquery.min.js"></script>
    <script src="lib/js/bootstrap.min.js"></script>
    <script src="lib/js/vue.min.js"></script>
    <script src="js/view-common.js"></script>
    <script src="js/view-recipe-page.js"></script>
</body>

</html>
